body {
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.game-box {
  display: flex;
  background-color: darkgray;
  border: solid 2px black;
  width:100%;
  height:75vh;

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: hidden; /* prevents elements to visually exit the game-box */
  user-select: none; /* prevents elements inside the game-box to be highlighted. This improves the user experience for click events on the game-box */
  /* pointer-events: none; prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}

h1 {
    text-align: center;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#menu-base {
  background-color: maroon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20%;
  height: 100%;
  padding: 20px;
}

#base-ui{
  background-color: skyblue;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

h2{
  align-self: center;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.menu-base-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    color: white;
  }
}

.house-building {
  border: solid 2px red;
  border-radius: 20px;
  height: 14%;
  width: 15%;
  padding: 20px;
}