* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("../images/Bg3.jpeg");
  background-size: auto;
  background-position: center center;
  filter: blur(2px);
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 50px;
}

.game-box {
  display: flex;
  background-color: darkgray;
  border: solid 2px black;
  width:100%;
  height:85vh;

  position: relative; /* allows us to position inner elements (absolute) related the the game-box */
  overflow: hidden; /* prevents elements to visually exit the game-box */
  user-select: none; /* prevents elements inside the game-box to be highlighted. This improves the user experience for click events on the game-box */
  /* pointer-events: none; prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}

h1 {
  padding-top: 25px;
  text-align: center;
  font-family: "Rubik dirt";
  color: lightcyan;
  font-weight: 500;
  font-size: 3em;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



h2{
  align-self: center;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.ul-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    gap: 0.4em;
    color: white;
}

button {
  /* justify-self: center; */
  padding: 5px;
  align-self: center;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 10px;
  font-family: "Rubik dirt";
  background-color:slategray;
  box-shadow: 5px 5px rgba(20, 20, 20, 0.6);

  &:active{
    transform: translateY(3px);
  }
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    width: 100%;
    height: 500px;

    h3{
      font-family: "Rubik dirt";
      color: darkgrey;
      text-align: center;
      font-size: 2em;
      font-weight: 500;
      padding: 20px;
    }

    p {
      color: gainsboro;
      padding: 10px;
      font-family: "Special elite";
      font-weight: 100;
      text-align: center;
    }
  }

  #start-btn {
    justify-self: flex-end;
    font-size: 2.5em;
    padding: 20px;
    background-color: rgb(9 41 57 / 73%);
    color: slategray;
  }

  .modal{
    position: absolute;
    top: 22%;
    left: 36%;
    /* height: 200px; */
    background-color: rgb(9 41 57 / 90%);
    padding: 20px;
    border-radius: 20px;
    border: solid 1px dimgray;
    box-shadow: 5px 5px 10px 5px rgba(20, 20, 20, 0.8);
    color: white;
    font-family: "Special elite";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    padding: 50px 100px;

    p {
      padding-bottom: 10px;
      color: lightcyan;
    }

    button {
      color: slategray;
      background-color: rgb(9 41 57 / 73%);
    }
  }
}


#game-over-screen {
  padding-top: 100px;
  #game-over-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 35px;
    p {
      font-family: "Special elite";
      font-weight: 600;
      color: white;
      font-size: 2em;
      
      &:nth-last-child(2), &:nth-last-child(3){
        font-style: italic;
      }
    }
    
  }

  #restart-btn {
    margin-top: 100px;
    padding: 20px;
    background-color: rgb(75 2 2 / 73%);
    color: darkgray;
  }
}
